<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.backend.mapper.AnswerMapper">

    <resultMap id="BaseResultMap" type="com.dream.backend.domain.Answer">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="childUserId" column="child_user_id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="answerStatus" column="answer_status" jdbcType="TINYINT"/>
            <result property="answerContent" column="answer_content" jdbcType="VARCHAR"/>
            <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="INTEGER"/>
            <result property="comments" column="comments" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryAnswerList" parameterType="java.lang.Integer" resultType="com.dream.backend.domain.Answer">
        SELECT id,child_user_id as "childUserId",task_id as "taskId",answer_status as "answerStatus",
        answer_content as "answerContent",image_url as "imageUrl",score,comments
        FROM answer
        WHERE 1 = 1
        <if test="id != null">
            AND id = #{id,jdbcType=BIGINT}
        </if>
        <if test="childUserId != null">
            AND child_user_id = #{childUserId,jdbcType=BIGINT}
        </if>
        <if test="taskId != null">
            AND task_id = #{taskId,jdbcType=BIGINT}
        </if>
        <if test="answerStatus != null">
            AND answer_status = #{answerStatus,jdbcType=TINYINT}
        </if>
    </select>

    <insert id="insert" parameterType="com.dream.backend.domain.Answer">
        insert into answer (id, child_user_id, task_id, answer_status, answer_content, image_url, score, comments)
        values (#{id,jdbcType=BIGINT}, #{childUserId,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{answerStatus,jdbcType=TINYINT},
                #{answerContent,jdbcType=VARCHAR}, #{imageUrl,jdbcType=VARCHAR},#{score,jdbcType=INTEGER},#{comments,jdbcType=VARCHAR})
    </insert>

    <update id="updateAnswerSelective" parameterType="com.dream.backend.domain.Answer">
        update answer
        <set>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
            <if test="comments != null and comments != ''">
                comments = #{comments,jdbcType=VARCHAR},
            </if>
            <if test="answerStatus != null">
                answer_status = #{answerStatus,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="Base_Column_List">
        id,child_user_id,task_id,
        answer_status,answer_content,image_url,
        score,comments
    </sql>

</mapper>
